body{
    background-color: #fffaf4;
    color: #545454;
    font-family: 'fredoka One', cursive;

}

.logo {
    width: 200px;

}

.sidebar {
    position: fixed;
    left: 0;
    padding: 48px;
    width: 25%;

}

.nav-link{ 
    color: #545454;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 48px;
    background-color: #545454;
    color: #fffaf4;
    
}
 .centralizado{
     text-align:  center;
 }
